body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2a2a2a;
    color: #333;
}
html::-webkit-scrollbar {
  display: none;
}
*{
    box-sizing: border-box;
}

header {
    background-color: #2a2a2a;
    color: #ff4d00;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
}
.head {
    position: fixed;
    top: 0;
    background-color: #2b2b2b;
    width: 100%;
    height: auto;
    z-index: 10;
  }
  
  .header-container {
    width: 100%;
    z-index: 10; /* Đảm bảo phần đầu trang ở trên hình ảnh */
    padding: 20px;
    background: rgba(255, 255, 255, 0); /* Nền trong suốt */
    display: flex;
    box-sizing: border-box; /* Đảm bảo padding không làm phần tử rộng hơn 100% */
    overflow: hidden; /* Ngăn chặn nội dung tràn ra ngoài */
    align-items: center;
  }
  .header-container .app-name {
    text-decoration: none;
    display: flex;
    box-shadow: 5px 5px 10px 0 #ff4d00;
  
  }
  .header-container .app-name p {
    margin: 0;
  }
  .header-container .app-name .health {
    background-color: #ff4d00; 
    color: #000; 
    padding: 0 4px;
    display: flex;
    align-items: center;
  }
  .app-name .health p {
    font-family: 'FutureSport';
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 41px;
  }
  @font-face {
    font-family: 'FutureSport'; /* Đặt tên cho font */
    src: url('../font/TechnoRaceItalic-eZRWe.otf') format('truetype'); /* Đường dẫn đến file font */
    font-weight: normal;
    font-style: normal;
  }
  .header-container .app-name .system {
    color: #ff4d00; 
    padding: 8px 14px;
    background-color: black; 
    margin-left: 5px;
    border: 2px solid #ff4d00;
  }
  .app-name .system p{
    letter-spacing: 4px;
    font-family: 'FutureSport';
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
  } 
  /* Navigation */
  .nav {
    display: flex;
    margin-left: auto;
    margin-right: 40px;
  }
  
  .nav a {
    color: #ffffff; /* Darker text for nav items */
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
  }
  
  .nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff4d00;
    transition: width 0.3s;
    position: absolute;
    bottom: -4px;
    left: 0;
  }
  
  .nav a:hover::after {
    width: 100%;
  }
  
  .nav a:hover {
    color: #ff4d00;
  }
  .header-container .nav-bar {
    display: flex;
    font-weight: bold;
    padding: 8px;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  .header-container .nav-bar:hover i {
    color: #FF6025;
  }
  .header-container .nav-bar i {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }
  .header-container .container-nav-bar {
    opacity: 0;
    position: fixed;
    inset: 0px;
    z-index: 1;
    display: none;
    background-color: #000000a1;
    transition: opacity 0.5s linear;
  }
  .container-nav-bar.show {
    opacity: 1;
  }
  .header-container .container-nav-bar i {
    font-weight: bold;
    font-size: 16px;
  }
  .container-nav-bar .close-btn {
    display: flex;
    max-width: 375px;
    background-color: #2A2A2A;
    padding: 12px 24px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    justify-content: flex-end;
    z-index: 3;
  }
  .container-nav-bar .close-btn button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  .container-nav-bar .close-btn i {
    color: #fff;
  
  }
  .container-nav-bar ul {
    background: #2A2A2A;
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
    position: absolute;
    top: 44px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    max-width: 375px;
    z-index: 2;
    list-style: none;
    margin: 0;
  }
  .container-nav-bar ul li {
    border-bottom: 1px solid #ffffff14;
    cursor: pointer;
  }
  .container-nav-bar ul li button{
    color: #fff;
    font-size: 18px;
    padding: 16px 24px 16px 40px;
    margin: 0 -24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    line-height: 26px;
    width: calc(100% + 48px);
    font-family: sans-serif;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  .container-nav-bar ul li button:hover {
    background-color: #393939;
  }


nav {
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    padding: 10px 15px;
    border-radius: 6px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.exercise-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
}

.exercise-table th{
    border: 1px solid #e0e0e0;
    text-align: left;
    padding: 5px;
    background-color: #ff4d00;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.exercise-table th:first-child{
    width: 100px;
}
.exercise-table th:nth-child(2) {
    
}


.exercise-table td {
    border: 1px solid #e0e0e0;
    padding: 12px;
    text-align: center;
}


.exercise-table tr:nth-child(even) {
    background-color: #f8f8f8;
}

.exercise-table tr:hover {
    background-color: #ef9a55;
    transition: background-color 0.2s ease;
}

.header-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sort-button {
    background: none; /* Không có nền */
    border: none; /* Không có viền */
    cursor: pointer; /* Con trỏ chuột khi di chuột qua */
    padding: 5px 10px; /* Thêm padding để tăng vùng nhấp chuột */
    outline: none; /* Không có đường viền khi nhấn */
    color: inherit; /* Kế thừa màu sắc từ phần tử cha */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
    box-sizing: border-box;
}

/* Thay đổi màu khi hover */
.sort-button:hover {
    background-color: #fff; /* Nền màu khi hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bóng đổ khi hover */
    color: #ff4d00;
    border-radius: 4px;
}

.sort-button i {
    margin: 0; /* Không có khoảng cách */
    font-size: 14px; /* Kích thước biểu tượng */
    transition: transform 0.2s;
    width: 14px;
}

/* Các màu cho icon khi sắp xếp */
.sort-button i.fa-sort-up {
    color: #ff4d00; /* Màu cho icon sắp xếp tăng */
}

.sort-button i.fa-sort-down {
    color: red; /* Màu cho icon sắp xếp giảm */
}



.food-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.food-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 160px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.food-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.food-item.fruit {
    background-color: #ffe5d9;
}

.food-item.vegetable {
    background-color: #d9f7e5;
}

.food-item.meat {
    background-color: #ffd5d5;
}

.food-item.grain {
    background-color: #fff3d4;
}

.food-item h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.food-item p {
    font-size: 14px;
    color: #555;
}

.search {
    position: relative; /* Để các phần tử con có thể sử dụng position tuyệt đối */
    width: 100%;
    max-width: 300px; /* Tùy chỉnh độ rộng của ô tìm kiếm */
}

.search input[type="text"] {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Thêm padding bên phải để dành chỗ cho biểu tượng */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.search i {
    position: absolute;
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    color: #ff4d00; 
    cursor: pointer; 
    
}

/* CSS cho hiệu ứng mờ dần */
#foodList tr {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
}

#foodList tr.hidden {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}


/* Style cho input tìm kiếm */
#searchInput {
    padding: 10px;
    margin: 20px 0; /* Khoảng cách phía trên và dưới */
    width: 100%; /* Chiều rộng đầy đủ của container */
    max-width: 400px; /* Chiều rộng tối đa */
    border: 1px solid #ccc; /* Đường viền */
    border-radius: 4px; /* Bo góc */
    font-size: 16px; /* Kích thước chữ */
}

/* Hiệu ứng focus cho input */
#searchInput:focus {
    border-color: #ff4d00; /* Đổi màu đường viền khi focus */
    outline: none; /* Bỏ đường viền mặc định */
}

.searchInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
}

#pagination button {
    margin: 0 4px;
    padding: 10px 15px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

#pagination button:hover {
    font-weight: bold;
    background-color: #ff4d00;
    color: white;
}

#pagination button.active {
    font-weight: bold;
    background-color: #ff4d00;
    color: white;
}

#pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#pagination i {
    color: #333; /* Màu sắc của biểu tượng */
}

#pagination i:disabled {
    color: #aaa; /* Màu sắc của biểu tượng khi bị vô hiệu hóa */
}

#prevPage:disabled, #nextPage:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#pageNumbers {
    display: flex;
    gap: 2px;
}
.footer {
    padding: 20px;
    background: radial-gradient(64.53% 62.88% at 50.13% 45.92%, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgb(35, 35, 35), rgb(35, 35, 35));;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}
.contact-follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}
.contact-follow h2 {
    margin-bottom: 15px;
    color: #bebcbc;
}
.contact-follow .facebook,
.contact-follow .instagram {
    margin-bottom: 10px;
}
.contact-follow a {
    text-decoration: none;
    color: #bebcbc;
    font-size: 16px;
    margin: 5px;
}
.contact-follow a:hover {
    color: #ffff;
}
.contact-follow img {
    vertical-align: middle;
}
.address {
    flex: 1;
}
.address p {
    margin: 5px 0;
    font-size: 18px;
    color: #bebcbc;
}

  @media (max-width: 768px) {
    .content {
      flex-direction: column;
      text-align: center;
    }

    .content-left, .content-right {
      width: 100%;
    }

    .content-right {
      margin-top: 20px;
    }
  }


