html{
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif !important;
}
button {
    border: none;
    background: none;
}
button i {
    color: white;
}
.input-select {
    display: none;
}
.next-question-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.next-question-btn button:disabled{
    opacity: 0.4;
    cursor: auto;
    background-color: #782d12;
}
.next-question-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 16px;
    background-color: #FF4400;
}
.next-question-btn button p {
    margin: 0;
    padding-right: 32px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    font-family: sans-serif;
}
.next-question-btn button i {
    font-weight: bold;
    font-size: 16px;
}






#page{
    background-color: #121212;
}
.p-default {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.002em;
    color: #8D8D8D;
    margin: 0;
}


header {
    padding: 16px 24px 18px;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 101;
}
header .app-name {
    text-decoration: none;
    display: flex;
    box-shadow: 5px 5px 10px 0 #ff4d00;
    z-index: 100;
}
header .app-name p {
    margin: 0;
}
header .app-name .health {
    background-color: #ff4d00; 
    color: #000; 
    padding: 0 4px;
    display: flex;
    align-items: center;
}
.app-name .health p {
    font-family: 'FutureSport';
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}
@font-face {
    font-family: 'FutureSport'; /* Đặt tên cho font */
    src: url('../font/TechnoRaceItalic-eZRWe.otf') format('truetype'); /* Đường dẫn đến file font */
    font-weight: normal;
    font-style: normal;
  }
header .app-name .system {
    color: #ff4d00; 
    padding: 8px 14px;
    background-color: black; 
    margin-left: 5px;
    border: 2px solid #ff4d00;
}
.app-name .system p{
    letter-spacing: 4px;
    font-family: 'FutureSport';
    font-weight: bold;
    font-size: 14px;
}
header nav {
    display: flex;
    margin-left: auto;
    z-index: 100;
}
nav .language {
    color: white;
    font-weight: bold;
    padding: 6px 16px;
    margin-right: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
nav .nav-bar {
    display: flex;
    font-weight: bold;
    padding: 8px;
}
nav .nav-bar i {
    font-size: 20px;
    font-weight: bold;
}
nav .container-nav-bar {
    opacity: 0;
    position: fixed;
    inset: 0px;
    z-index: 1;
    display: none;
    background-color: #000000a1;
    transition: opacity 0.5s linear;
}
.container-nav-bar.show {
    opacity: 1;
}
nav .container-nav-bar i {
    font-weight: bold;
    font-size: 16px;
}
.container-nav-bar .close-btn {
    display: flex;
    max-width: 375px;
    background-color: #2A2A2A;
    padding: 12px 24px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    justify-content: flex-end;
    z-index: 3;
}
.container-nav-bar .close-btn i {
    color: #fff;

}
.container-nav-bar ul {
    background: #2A2A2A;
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
    position: absolute;
    top: 46px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    max-width: 375px;
    z-index: 2;
    list-style: none;
    margin: 0;
}
.container-nav-bar ul li {
    border-bottom: 1px solid #ffffff14;
}
.container-nav-bar ul li button{
    color: #fff;
    font-size: 18px;
    padding: 16px 24px 16px 40px;
    margin: 0 -24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    line-height: 26px;
    width: calc(100% + 48px);
    font-family: sans-serif;
}
.container-nav-bar ul li button:hover {
    background-color: #393939;
}

.container-body {
    height: 100vh;
}
.container-body .container-complete-percent {
    padding: 80px 24px 0;
    margin: 0 0 24px;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #000;
}
.container-complete-percent .complete-percent {
    display: flex;
    align-items: center;
    height: 24px;
    width: 100%;
}
.container-complete-percent .complete-percent .back-btn {
    width: 24px;
    height: 24px;
    background-color: #393939;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
}
.complete-percent .back-btn:hover {
    background-color: #757575;
}
.complete-percent .back-btn i {
    font-weight: bold;
    font-size: 14px;
}
.container-complete-percent .complete-percent .completed-bar {
    background-color: #393939;
    display: flex;
    height: 4px;
    position: relative;
    margin: 0 3px;
    width: 100%;
}
.complete-percent .completed-bar::before{
    background-color: #FF6025;
    content: "";
    left: 0px;
    top: 0px;
    height: 4px;
    position: absolute;
    width: var(--progress-width, 0%);
    transition: width 0.5s ease-in-out;

}
.container-complete-percent .complete-percent .completed-text {
    color: #DADADA;
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.container-body form {
    padding-top: 140px;
    min-height: 100vh;
    background-color: #000;
}
.container-body form .container-form-select {
    padding: 0 24px 80px;
    width: 100%;
}
.container-form-select .form-selection {
    max-width: 470px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.container-form-select .form-selection .question {
    width: 100%;
    margin-bottom: 40px;
}
.form-selection .question p {
    color: #fff;
    margin: 0;
    font-weight: 450;
    font-size: 17px;    
}
.form-selection .question h1 {
    color: #fff;
    font-size: 33px;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container-form-select .form-selection .container-options {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-selection .container-options.water-drink {
    margin-bottom: 40px;
}
.container-options.water-drink .options {
}
.container-options.water-drink .options label {
    height: auto;
    padding: 14px;
    margin-bottom: 16px;
    color: #fff;
    align-items: flex-start;
}
.container-options.water-drink .options label input {
    display: flex;
    appearance: none;
    margin-top: 4px;

}
.container-options.water-drink .options label input::before {
    content: "";
    width: 22px; 
    display: block;
    height: 22px;
    border-radius: 50%;
    background-color: #212529;
    border: 3px solid #B3B3B3; 
}
.container-options.water-drink .options label input:checked::before {
    display: none;
}
.container-options.water-drink .options label input:checked {
    display: flex;
    width: 24px; 
    height: 22px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: 3px solid #FF6025; 
}

.container-options.water-drink .options label input:checked::after {
    content: "";
    display: block;
    width: 12px; 
    height: 12px;
    border-radius: 50%;
    background-color: #FF6025;
}
.container-options.water-drink .options label span {
    font-size: 18px;
    padding-left: 16px;
    line-height: 26px;
}
.container-options.water-drink .options label span p:first-child {
    margin: 0;
    font-weight: 600;
}
.container-options.water-drink .options label span p:nth-child(2) {
    margin: 0;
    font-weight:100;
    font-size: 14px;
    color: #DADADA;
}
.form-selection .container-options.sport-type {
    margin-bottom: 40px;
}
.container-options.sport-type .options > label {
    height: auto;
    padding: 11px 14px;
    margin-bottom: 16px;
    color: #fff;
    align-items: flex-start;
}

.container-options.sport-type .options > label .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
.container-options.sport-type .options > label .checkbox-wrapper-19 .check-box.checked {
  border-color: #8D8D8D;
}
.container-options.sport-type .options > label span {
    font-size: 18px;
    padding-left: 16px;
    line-height: 26px;
}
.container-options.sport-type .options > label input {
    display: flex;
    appearance: none;
    margin-top: 4px;

}
.container-options.sport-type .options .checkbox-wrapper-19 .check-box::before, 
.container-options.sport-type .options .checkbox-wrapper-19 .check-box::after {
    background-color: #FF6025;
}
.container-options.sport-type .options label span p {
    margin: 0;
    
}
.container-options.sport-type .options:last-child {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #8d8d8d8f;
}
.container-options.sport-type .options:last-child label {
    margin: 0;
}
.container-options.sport-type .options:last-child label span {
    display: flex;
    align-items: center;
    padding: 0;
}
.container-options.sport-type .options:last-child label span i {
    font-size: 20px;
    font-weight: bold;
    color: #FF6025;
    padding-right: 8px;
}
.container-options.index-body {
    font-family: Arial, Helvetica, sans-serif;
}
.container-options.index-body .container-unit {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}
.container-options.index-body .container-unit p:first-child {
    font-size: 18px;
    margin: 0;
    color: #8D8D8D;
}
.container-options.index-body .container-unit p:last-child {
    color: #fff;
    margin: 0;
    padding: 6px 12px;
    border: 2px solid #FF6025;
    background-color: #2A2A2A;
    cursor: pointer;
}
.container-options.index-body label {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.container-options.index-body label>span:first-child {
    font-size: 18px;
    margin-bottom: 3px;
}
.container-options.index-body label>span:nth-child(2) {
    font-size: 18px;
    position: relative;
}
.container-options.index-body label>span:nth-child(2) input {
    width: 100%;
    padding: 0 11px;
    border: 1px solid #757575;
    height: 56px;
    line-height: 1.5;
    background-color: #1E1E1E;
    color: #fff;
    outline: none;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.container-options.index-body label>span:nth-child(2) input:focus {
    border: 2px solid #FF6025;
}
.container-options.index-body label>span>span {
    color: #8D8D8D;
    position: absolute;
    left: 14px;
    top: 15px;
}
.container-options.index-body label .height-qualify,
.container-options.index-body label .weight-qualify-present,
.container-options.index-body label .weight-qualify-target {
    color: #EC3E4F;
    font-size: 12px;
    padding-top: 8px;
}



.container-options .options > label {
    height: 168px;
    padding: 22px;
    margin-bottom: 16px;
    width: 100%;
    background-color: #1E1E1E;
    cursor: pointer;
    border: 2px solid transparent; 
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.container-options .options > label:active {
    border: 2px solid #FF6025;
}
.container-options .options > label:hover {
    background-color: #2A2A2A;
}
.container-options .options > label:hover img {
    transform: scale(1.1);
    transition: all 0.3s linear;
}
.container-options .options span {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding-right: 16px;
}
.container-options .options img {
    top: 5px;
    position: absolute;
    right: 12px;
    width: 120px;
    height: 300px;
}
.container-form-select .form-selection.body-fat {
    max-width: 100%;
    display: flex;
}
.form-selection .container-body-fat {
    display: flex;
}
.form-selection .container-body-fat .container-img-body-fat {
    width: 50%;
    min-height: calc(100vh - 133px);
    display: flex;
    justify-content: center;
}
.container-body-fat .container-img-body-fat .img-body-fat {
    width: 190px;
    position: relative;

}
.container-img-body-fat .img-body-fat .layout {
    display: flex;
    justify-content: center;
    width: 100%;
}
.container-img-body-fat .img-body-fat .layout img {
    width: 350px;
    position: absolute;
    top:12%;
}
.container-img-body-fat .img-body-fat>img {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 0;
    height: 480px;
}
.form-selection .container-body-fat .container-range-slider {
    background-color: #1E1E1E;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 64px;
}
.container-body-fat .container-range-slider .range-slider {
    max-width: 470px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container-range-slider .range-slider .container-range-percent {
    width: 100%;
    margin-bottom: 40px;

}
.range-slider .container-range-percent .range-percent {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 14px;
    width: 100%;
}
.container-range-percent .range-percent .index-range {
    padding: 3px 8px;
    margin-bottom: 10px;
    background-color: #393939;
    left: 0%;
    display: flex;
    justify-content: center;
    min-width: 32px;
    transform: translateX(-50%);
    position: relative;
}
.container-range-percent .range-percent .index-range::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: calc(50% - 6px);
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 7px 6px 0px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: #393939;
    transition: left 0.3s ease;
}
.range-percent .index-range p {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    line-height: 26px;
}
.container-range-percent .range-percent input {
    width: 100%;
    height: 28px;
    cursor: pointer;
    appearance: none;
    background: transparent;
    z-index: 1;
}
.container-range-percent .range-percent input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ff4d00;
    border: 2px solid #000;
    transform: translateX(var(--thumb-transform, -50%));
    transition: transform 0.1s;
}
.container-range-percent .range-percent .background-input {
    position: absolute;
    bottom: 41%;
    width: 100%;
    height: 8px;
    background-color: rgb(163, 43, 0);
}
.container-range-percent .range-percent .background-input::after {
    content: "";
    position: relative;
    bottom: 2px;
    display: flex;
    height: 12px;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(to left, #121212, 1px, transparent 1px);
    background-size: calc(100%/7) ;
}
.container-range-percent .range-percent .value-range {
    margin-top: 6px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.range-percent .value-range p {
    color: #fff;
    margin: 0;
}
.container-range-slider .range-slider .next-question-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.range-slider .next-question-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 16px;
    background-color: #FF4400;
}
.range-slider .next-question-btn button p {
    margin: 0;
    padding-right: 32px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    font-family: sans-serif;
}
.range-slider .next-question-btn button i {
    font-weight: bold;
    font-size: 16px;
}
.container-evalute {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
}
.container-evalute .container-img-action {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    float: left;
    background-color: #121212;
}
.container-evalute .container-evalute-results {
    background-color: #1E1E1E;
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    padding: 64px;
}
.container-evalute .container-img-action .image-container {
    position: relative;
    width: 190px; /* Chiều rộng của ảnh */
    height: 500px; /* Chiều cao của ảnh */
}

/* Ẩn ảnh cơ bắp ban đầu bằng clip-path */
.container-img-action .image-container .muscle-body {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    clip-path: inset(100% 0 0 0); /* Ẩn toàn bộ ảnh cơ bắp */
    z-index: 1;
}

/* Ảnh gầy gò nằm trên */
.container-img-action .image-container .thin-body {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 3;
    left: -6px;
}
.container-img-action .image-container .bg-circle {
    position:absolute;
    height: 100%;
    width: 100%;
    transform: scale(1.9);
    left: -1%;
    top: -2%;
}

/* Đường thẳng chuyển đổi */
.container-img-action .image-container .transition-line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    width: 120px;
    height: 0; 
    background-color: transparent;
    z-index: 2; 
    border-bottom: 2px solid transparent; 
    mask-image: linear-gradient(to bottom, transparent 0%, #ff0000 0%, #ff0000 100%); 
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
}
.container-evalute .container-evalute-results .evalute-result {
    max-width: 470px;
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.container-evalute-results .evalute-result  h1{
    width: 100%;
    font-weight: bold;
    font-size: 34px;
    line-height: 48px;
    margin-bottom: 40px;
    letter-spacing: -0.020903em;

}
.container-evalute-results .evalute-result  h1 span {
    color: #FF6025;
}
.container-evalute-results .evalute-result>p {
    font-weight: 400;
}
.container-evalute-results .evalute-result ul {
    padding: 0;
    margin: 0 0 80px 0;
    list-style: none;
    width: 100%;

}
.container-evalute-results .evalute-result ul li {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    font-weight: 300;
}
.container-evalute-results .evalute-result ul li span {
    display: flex;
    width: 24px;
    height: 24px;
    border: 3px solid #FF6025;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
   
}
.evalute-result ul li span i {
    color: #FF6025;
    font-size: 14px;
    font-weight: bold;
}
.container-health-status {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
}
.container-health-status .container-img-health-status {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    float: left;
    background-color: #121212;
}
.container-health-status .container-img-health-status img {
    width: 80%;
    align-self: flex-end;
}
.container-health-status .container-des-health-status {
    background-color: #1E1E1E;
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    padding: 64px;
}
.container-des-health-status .des-health-status {
    max-width: 470px;
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px
}
.container-des-health-status .des-health-status h1 {
    width: 100%;
    font-weight: bold;
    font-size: 34px;
    line-height: 48px;
    margin-bottom: 40px;
    letter-spacing: -0.020903em;
}
.container-des-health-status .des-health-status>p {
    margin-bottom: 24px;
}
.container-des-health-status .des-health-status ul + p {
    margin-bottom: 60px;
}
.container-des-health-status .des-health-status ul {
    margin: 12px 0 ;
    padding: 0;
    list-style-position: inside;
    list-style-type: disclosure-closed;
    width: 100%;
}
.container-des-health-status .des-health-status ul li {
    margin-bottom: 8px;
}
.container-des-health-status .des-health-status ul li::marker {
    margin: 0;
}