html{
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    border: none;
    background: none;
}
button i {
    color: white;
}

#page{
    background-image: url(../img/BackGround.jpg);
    height: 100vh;
    overflow-y: hidden;
}
.p-default {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.002em;
    color: #8D8D8D;
    margin: 0;
}


header {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    width: 100%;
}
header .app-name {
    text-decoration: none;
    display: flex;
    box-shadow: 5px 5px 10px 0 #ff4d00;

}
header .app-name p {
    margin: 0;
}
header .app-name .health {
    background-color: #ff4d00; 
    color: #000; 
    padding: 0 4px;
    display: flex;
    align-items: center;
}
.app-name .health p {
    font-family: 'FutureSport';
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}
@font-face {
    font-family: 'FutureSport'; /* Đặt tên cho font */
    src: url('../font/TechnoRaceItalic-eZRWe.otf') format('truetype'); /* Đường dẫn đến file font */
    font-weight: normal;
    font-style: normal;
  }
header .app-name .system {
    color: #ff4d00; 
    padding: 8px 14px;
    background-color: black; 
    margin-left: 5px;
    border: 2px solid #ff4d00;
}
.app-name .system p{
    letter-spacing: 4px;
    font-family: 'FutureSport';
    font-weight: bold;
    font-size: 14px;
}
header nav {
    display: flex;
    margin-left: auto;
}
nav .language {
    color: white;
    font-weight: bold;
    padding: 6px 16px;
    margin-right: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
nav .nav-bar {
    display: flex;
    font-weight: bold;
    padding: 8px;
}
nav .nav-bar i {
    font-size: 20px;
    font-weight: bold;
}
nav .container-nav-bar {
    opacity: 0;
    position: fixed;
    inset: 0px;
    z-index: 1;
    display: none;
    background-color: #000000a1;
    transition: opacity 0.5s linear;
}
.container-nav-bar.show {
    opacity: 1;
}
nav .container-nav-bar i {
    font-weight: bold;
    font-size: 16px;
}
.container-nav-bar .close-btn {
    display: flex;
    max-width: 375px;
    background-color: #2A2A2A;
    padding: 12px 24px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    justify-content: flex-end;
    z-index: 3;
}
.container-nav-bar .close-btn i {
    color: #fff;

}
.container-nav-bar ul {
    background: #2A2A2A;
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
    position: absolute;
    top: 46px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    max-width: 375px;
    z-index: 2;
    list-style: none;
    margin: 0;
}
.container-nav-bar ul li {
    border-bottom: 1px solid #ffffff14;
}
.container-nav-bar ul li button{
    color: #fff;
    font-size: 18px;
    padding: 16px 24px 16px 40px;
    margin: 0 -24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    line-height: 26px;
    width: calc(100% + 48px);
    font-family: sans-serif;
}
.container-nav-bar ul li button:hover {
    background-color: #393939;
}
.container-body {
    padding-top: 106px;
    min-height: calc(100% - 72px);
    padding-bottom: 72px;
    background: linear-gradient(rgba(18, 18, 18, 0) 0%, rgba(18, 18, 18, 0.95) 65.1%, rgb(18, 18, 18) 100%);
}
.body {
    max-width: 1184px;
    padding: 0 24px;
    margin: auto;
}
.body .title {

}
.body .title h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}
.body .title p {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.body .body-type {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 92px;
}
.body .body-type a {
    width: calc(25% - 18px);
    background-color: #1E1E1E;
    text-decoration: none;
}
.body-type a:hover {
    background-color: #2A2A2A;
}
.body-type a:hover img {
    transform: scale(1.1);
    transition: transform 0.5s linear;
}
.body-type a .img {
    display: flex;
    justify-content: center;
}
.body-type a img {
    width: 154px;
    height: 151px;
}
.body .body-type a p {
    margin: 0;
    padding: 2px;
    background-color: #393939;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: -0.0143007em;
    line-height: 24px;
}
.body .policy {
    margin-bottom: 24px;
}
.body .policy label {
    color: #8D8D8D;
    font-size: 13px;
    display: flex;
    margin-bottom: 10px;
}
.policy label:hover {
    cursor: pointer;
}
.policy label span {
    padding-left: 12px;
}
.policy label a{
    color: #8D8D8D;
}
.policy .alert-nonecheckbox {
    display: none;
    align-items: center;
    color: #fff;
    padding: 16px;
    margin-top: 24px;
    background-color: #E22336;
}
.alert-nonecheckbox i {
    font-size: 20px;
}
.alert-nonecheckbox p {
    margin: 0;
    padding-left: 12px;
}
@keyframes rotate-shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
  }
  
.alert-nonecheckbox i.shake {
    animation: rotate-shake 0.5s ease-in-out; 
}
@media (max-width: 1366px) {
    .body {
        max-width: 768px;
    }
    .body .body-type a {
        width: calc(50% - 18px);
    }
}


  

